[workspace]

members = [
    "bindings/c",
    "bindings/java/rust_code",
    "bindings/node",
    "bindings/nim/rust_code",
    "bindings/csharp/rust_code",
    "eip7594",
    "cryptography/bls12_381",
    "cryptography/kzg_multi_open",
    "cryptography/polynomial",
    "cryptography/erasure_codes",
]

resolver = "2"

[workspace.package]
authors = ["Kevaundray Wedderburn <kev@the.dev>"]
edition = "2021"
license = "MIT"
version = "0.3.4"
rust-version = "1.70"
repository = "https://github.com/crate-crypto/rust-eth-kzg"

[workspace.dependencies]
# These names are essentially a way to achieve scoping when we publish to crates.io
# Ideally we don't publish bls12_381 and polynomial, but crates.io requires 
# all dependencies to be published and not local.
bls12_381 = { package = "crate_crypto_internal_eth_kzg_bls12_381", version = "0.3.4", path = "cryptography/bls12_381" }
polynomial = { package = "crate_crypto_internal_eth_kzg_polynomial", version = "0.3.4", path = "cryptography/polynomial" }
erasure_codes = { package = "crate_crypto_internal_eth_kzg_erasure_codes", version = "0.3.4", path = "cryptography/erasure_codes" }
rust_eth_kzg = { version = "0.3.4", path = "eip7594" }
kzg_multi_open = { package = "crate_crypto_kzg_multi_open_fk20", version = "0.3.4", path = "cryptography/kzg_multi_open" }
c_eth_kzg = { version = "0.3.4", path = "bindings/c" }
hex = "0.4.3"
rayon = "1.10.0"


[profile.release]
lto = true
